@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 336px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: #fff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.about-us {
  color: #fff;
  background-color: #082841; }

.about-us__wrapper {
  max-width: 574px;
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 33px 15px 42px; }

.about-us__desc {
  margin: 0;
  margin-bottom: 15px;
  line-height: 19px;
  font-weight: 700;
  text-align: center; }

.about-us__title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 32px;
  line-height: 40px;
  text-align: center; }

.about-us__img {
  display: block;
  width: 144px;
  height: 144px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #e9f0e6;
  border-radius: 50%; }

.about-us__content {
  text-align: center; }
  .about-us__content p:last-child {
    margin-bottom: 0; }

.about-us__link {
  font-weight: 300;
  color: #e6f0f0; }
  .about-us__link:hover, .about-us__link:focus {
    opacity: 0.6; }
  .about-us__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .about-us__wrapper {
    max-width: 100%;
    margin-bottom: 82px;
    padding: 97px 112px 145px; }
  .about-us__desc {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 29px; }
  .about-us__title {
    margin-bottom: 39px;
    font-size: 40px;
    line-height: 48px; }
  .about-us__img {
    width: 384px;
    height: 384px;
    margin-bottom: 75px; }
  .about-us__content {
    font-size: 20px;
    line-height: 28px; } }

@media (min-width: 1024px) {
  .about-us__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1024px;
    min-height: 768px;
    margin: 0 auto;
    margin-bottom: 106px;
    padding: 65px 41px 97px 519px; }
  .about-us__desc {
    text-align: left; }
  .about-us__title {
    text-align: left; }
  .about-us__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 424px;
    height: 768px;
    margin: auto 0;
    border-radius: 0; }
  .about-us__content {
    text-align: left; } }

@media (min-width: 1440px) {
  .about-us__wrapper {
    max-width: 1440px;
    min-height: 672px;
    margin-bottom: 106px;
    padding: 65px 248px 89px 648px; }
  .about-us__img {
    width: 552px;
    height: 672px; } }

.features__wrapper {
  margin: 0 auto;
  margin-bottom: 91px;
  padding: 0 16px; }

.features__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 32px;
  line-height: 1.25; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 304px;
  margin-bottom: 16px;
  padding: 25px 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f0f0), to(#e9f0e6));
  background: linear-gradient(#e6f0f0, #e9f0e6); }

.features__sub-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.2; }

.features__content p:last-child {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .features__wrapper {
    max-width: 1008px;
    padding: 0 32px; }
  .features__title {
    margin-bottom: 38px;
    font-size: 40px;
    line-height: 1.2; }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .features__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 216px;
    padding: 25px 24px 25px 32px; }
    .features__item:nth-child(4n-3) {
      width: 53%; }
      .features__item:nth-child(4n-3) p {
        max-width: 432px; }
    .features__item:nth-child(4n-2) {
      max-width: 384px;
      margin-left: 13px; }
      .features__item:nth-child(4n-2) p {
        max-width: 304px; }
    .features__item:nth-child(4n-1) {
      max-width: 312px;
      margin-right: 13px; }
      .features__item:nth-child(4n-1) p {
        max-width: 232px; }
    .features__item:nth-child(4n) {
      width: 53%; }
      .features__item:nth-child(4n) p {
        max-width: 400px; } }

@media (min-width: 1024px) {
  .features__wrapper {
    margin-bottom: 116px; } }

.catalog__wrapper {
  margin: 0 auto;
  margin-bottom: 88px;
  padding: 0 16px; }

.catalog__title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 32px;
  line-height: 1.25; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item {
  margin-bottom: 90px; }
  .catalog__item:last-child {
    margin-bottom: 0; }

.catalog__sub-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.2; }

.catalog__link {
  color: #dd3e18; }
  .catalog__link:hover, .catalog__link:focus {
    opacity: 0.6; }
  .catalog__link:active {
    opacity: 0.3; }

.catalog__content {
  max-width: 704px;
  margin: 16px 0 15px; }

.catalog__picture {
  display: block;
  width: 100%;
  max-width: 704px;
  height: auto;
  background-color: #e9f0e6;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .catalog__picture:hover, .catalog__picture:focus {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  .catalog__picture:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 768px;
    margin-bottom: 88px;
    padding: 0 32px; }
  .catalog__item {
    margin-bottom: 70px; }
  .catalog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__content {
    width: 384px;
    margin-top: 0; }
    .catalog__content p {
      margin-top: 0; }
  .catalog__picture {
    width: 704px;
    height: 496px; } }

@media (min-width: 1024px) {
  .catalog__wrapper {
    width: 1024px;
    margin-bottom: 143px;
    padding: 0 40px; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 135px; }
  .catalog__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 304px;
    margin: 0;
    margin-left: 96px; }
  .catalog__content {
    width: 304px;
    margin: 0; }
    .catalog__content p {
      margin-bottom: 0; }
  .catalog__picture {
    width: 544px;
    height: 384px; } }

.contacts {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f0f0), to(#e9f0e6));
  background: linear-gradient(#e6f0f0, #e9f0e6); }

.contacts__wrapper {
  max-width: 574px;
  margin: auto auto 0;
  padding: 43px 16px 72px; }

.contacts__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 1.25; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  line-height: 2;
  color: #dd3e18; }
  .contacts__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    border: 1px solid #dd3e18;
    background-color: #dd3e18;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .contacts__link:hover, .contacts__link:focus {
    opacity: 0.6; }
  .contacts__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 768px;
    max-width: 100%;
    padding: 33px 32px 98px; }
  .contacts__title {
    width: 100%;
    margin-bottom: 21px;
    font-size: 40px;
    line-height: 1.2; }
  .contacts__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 176px; }
  .contacts__content {
    width: 384px; }
    .contacts__content p {
      margin-top: 0; } }

@media (min-width: 1024px) {
  .contacts__wrapper {
    width: 1024px;
    padding: 81px 40px 146px; }
  .contacts__title {
    margin-bottom: 61px; }
  .contacts__content {
    width: 504px; } }
