.button {
  display: inline-block;
  padding: 16px;

  font-size: $text-size--md;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray--dark;
  text-align: center;
  vertical-align: middle;

  border: 2px solid $gray--dark;
  background-color: #fff;

  &:hover,
  &:focus {
    border: 2px solid $gray--dark;
    background-color: $gray--dark;
  }
}
