  .features__wrapper {
    margin: 0 auto;
    margin-bottom: 91px;
    padding: 0 16px;
  }

  .features__title {
    margin: 0;
    margin-bottom: 13px;

    font-size: $font-size--lg;
    line-height: 1.25;
  }

  .features__list {
    @include list-reset;
  }

  .features__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 304px;
    margin-bottom: 16px;
    padding: 25px 24px;

    background: linear-gradient(#E6F0F0, #E9F0E6);

    @include last-item-reset;
  }

  .features__sub-title {
    margin: 0;

    font-size: $font-size--md;
    line-height: 1.2;
  }

  .features__content {
    p:last-child {
      margin-bottom: 0;
    }
  }

@media (min-width: $screen-md) {
  .features__wrapper {
    max-width: 1008px;
    padding: 0 32px;
  }

  .features__title {
    margin-bottom: 38px;

    font-size: $font-size--xl;
    line-height: 1.2;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    justify-content: space-between;
    width: 45%;
    flex-grow: 1;
    min-height: 216px;
    padding: 25px 24px 25px 32px;

    &:nth-child(4n-3) {
      width: 53%;

      p {
        max-width: 432px;
      }
    }

    &:nth-child(4n-2) {
      max-width: 384px;
      margin-left: 13px;

      p {
        max-width: 304px;
      }
    }

    &:nth-child(4n-1) {
      max-width: 312px;
      margin: 0;
      margin-right: 13px;

      p {
        max-width: 232px;
      }
    }

    &:nth-child(4n) {
      width: 53%;

      p {
        max-width: 400px;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .features__wrapper {
    margin-bottom: 129px;
  }
}
