//Основные семантические цвета
$color-main:                  #082841;
$color-secondary:             #e6f0f0;
$color-secondary--light:      #e9f0e6;
$color-link:                  #dd3e18;

// Шрифты
$font-size--xs:          16px;
$font-size--sm:          20px;
$font-size--md:          24px;
$font-size--lg:          32px;
$font-size--xl:          40px;

$line-height:            24px;

$font-family:        "Open Sans", "Arial", sans-serif;
$font-family--title: "Open Sans", "Verdana", sans-serif;

// Размеры экрана
$screen-sm:             336px;
$screen-md:             768px;
$screen-lg:            1024px;
$screen-xl:            1440px;

// Ретина
$retina-dpi:           144dpi;
$retina-dppx:          1.5dppx;
